
@media screen and (max-width:749px) {
    
    .header-contants {
        justify-content: space-around;
        display: initial;
        text-align: center;
    }

    .header-nav-list {
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .header-nav {
        justify-content: space-around;
    }
    
    .header-nav-list {
        display: initial;
        margin: 0;
    }

    .header-nav-item{
        padding: 0 60px;
        padding-bottom: 5px;
        margin: initial;
    }

    .header-nav-item a {
        font-size: 18px;
    }


    /* main */
    h2 {
        font-size: 24px;
        display: inline-block;
        width: auto;
        height: 30px;
        border-bottom: 2px dashed #D22F2F;
    }



    /* scroll button */
    .pagetop {
        right: 15px;
        bottom: 15px;
    }


    .contact-card {
        height: 50%;
    }
}


@media screen and (max-width:515px) {
    .header-contants {
        display: flex;
        display: initial;
    }
}