@charset "UTF-8";

/* * { 
    outline: 1px solid black; 
} */


body {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}

/* header */
.header {
    width: 100%;
    height: 120px;
    background-color: #D22F2F;
}

.header-contants {
    display: flex;
    justify-content: space-between;
    height: 100%;
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 60px;
    align-items: center;
    flex-wrap: wrap;
}

.header-h1 {
    margin: 0;
    font-size: 40px;
    display: inline-block;
    color: white;
}

.header-nav-list {
    display: flex;
    margin: 0;
}

.header-nav-item {
    margin: 0 0 0 60px;
}

.header-nav-item a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: lighter;
}


/* main */
.container {
    max-width: 1225px;
    height: 100%;
    margin: 100px auto;
}

.section-wrapper { /* contactと同じプロパティ */
    padding: 100px 30px;
    text-align: center;
    background-color: white;
}

h2 {
    display: inline-block;
    width: 200px;
    height: 50px;
    font-size: 40px;
    border-bottom: 2px dashed #D22F2F;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.work-card {
    width: 450px;
    height: 500px;
    padding: 30px;
    margin: 30px 0;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 25%);
    background-color: white;
}

.card-img-wrapper {
    /* display: inline; */
    width: 100%;
    height: auto;
    border: 1px solid rgba(21, 21, 21, 0.2);
    border-radius: 5px;
}

.card-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.card-text {
    height: 100px;
    margin: 30px 0;
    background-color: #F9DFDF;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.card-text h3 {
    font-family: 'Roboto';
    font-size:large;
    font-weight: 400;
}

.btn {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    text-align: center;
}

.btn-a {
    display: inline-block;
    padding: 10px 25px;
    background-color: #151515;
    margin: 0 auto;
    font-size: 20px;
    letter-spacing: 4px;
    color: white;
    transition: 0.5s;
}

.btn-a:hover {
    color: #151515;
    background-color: #ffffff;
    border: 1.5px solid #151515;
}


/* contact */
.contact-card {
    max-width: 825px;
    height: 100%;
    margin: 30px auto;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 25%);
}

.form-container {
    padding: 40px;
}

.form-area {
    width: 100%;
    padding: 20px 0;
    text-align: left;
}

label {
    font-size: 20px;
    font-weight: bolder;
}

.text-area {
    width: 100%;
    border-radius: 5px;
    border: none;
    resize: none;
    box-shadow: 0px 0px 3px 1px rgb(0 0 0 / 25%) inset; 
}

input {
    height: 60px;
}

label {
    display: flex;
}

.input-btn {
    width: 200px;
    height: 60px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 5px;
    border: none;
    color: white;
    background-color: #D22F2F;
}

/* footer */
.footer {
    width: 100%;
    height: 50px;
    padding: 15px 0;
    text-align: center;
    background-color: #8f8f8f;
}

.footer-p {
    margin: auto 0;
    color: white;
}


/* contants.html */
.work-card-1 {
    width: 1000px;
    max-height: 1000px;
    padding: 30px;
    margin: 30px 0;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 25%);
    background-color: white;
}

.work-img-wrapper {
    width: 100%;
    height: auto;
}

.work-img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}